.nav {
  color: black;
  height: 6vh;
  width: 100%;
  border-bottom: 2px solid rgb(129, 102, 102);
  position: absolute;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}



.logo {
  color: black;
  height: 5vh;
  width: 5vh;
  background-color: rgb(185, 153, 153);
  background-image: url("./Images/logo.png");
  background-repeat: no-repeat;
  background-size: cover;

  border-radius: 5vh;
  margin-left: 2vh;
  margin-top: 0.5vh;
  position: absolute;
}

.home {
  margin-left: 80vh;
  margin-top: 2vh;
}

.products {
  margin-right: 18vh;
  margin-left: 95vh;
  margin-top: -2vh;

}

.login {
  float: right;
  margin-right: 18vh;
  margin-top: -2vh;

}

.cart {
  float: right;
  margin-right: 5vh;
  margin-top: -2vh;
}

.latest-block {
  color: rgb(0, 0, 0);
  position: absolute;
  margin-top: 110vh;
  font-size: 2vh;
  height: 3vh;
  width: 100%;
  border-bottom: 2px solid rgba(171, 144, 144, 0.2);
  text-align: center;
}

.discount-block {
  color: rgb(0, 0, 0);
  position: absolute;
  margin-top: 185vh;
  font-size: 2vh;
  height: 3vh;
  width: 100%;
  border-bottom: 2px solid rgba(171, 144, 144, 0.2);
  text-align: center;
}

h7 {
  color: rgb(255, 255, 255);
  font-weight: lighter;
  font-size: 10vh;
  margin-right: 10vh;
  margin-top: 40vh;

  float: right;

}
p20 {
  color: rgb(255, 255, 255);
  font-weight:lighter;
  font-size: 3vh;
  margin-top: 50vh;
  margin-left: 110vh;
  position: absolute;
}

h2 {
  margin-left: 18vh;
  font-size: 20px;
  margin-top: 10vh;
  position: absolute;
  color: red;
  font-family: 'Courier New', Courier, monospace;
}

h5 {
  color: rgb(0, 0, 0);
  font-weight: lighter;
  width: 15vh;
  text-align:justify;
  text-align: left;
  margin-left: 2vh;
  margin-top: -3vh;
  
}

h6 {
  color: rgb(0, 0, 0);
  font-weight: lighter;
  width: 15vh;
  text-align:justify;
  text-align: left;
  margin-left: 2vh;
  margin-top: 2vh;
  font-size: 2vh;

}

.main-home {
  width: 100%;
  height: 100vh;
  position: absolute;
  margin-top: 6vh;
  background-image: url("./Images/logindog.jpeg");
  background-repeat: no-repeat;
  background-size: cover;

}
/* image */
.carouselpro9 {
  color: rgb(0, 0, 0);
  position: absolute;
  margin-top: 120vh;
  font-size: 2vh;
  height: 30vh;
  width: 30vh;
  margin-left: 20vh;
  border-radius: 5vh;
  background-color: blue;
  background-image: url("./Images/dafny.webp");
  background-repeat: no-repeat;
  background-size: cover;
}
.carouselpro10 {
  color: rgb(0, 0, 0);
  position: absolute;
  margin-top: 120vh;
  font-size: 2vh;
  height: 30vh;
  width: 30vh;
  margin-left: 60vh;
  border-radius: 5vh;
  background-color: blue;
  background-image: url("./Images/orocky.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
}
.carouselpro11 {
  color: rgb(0, 0, 0);
  position: absolute;
  margin-top: 120vh;
  font-size: 2vh;
  height: 30vh;
  width: 30vh;
  margin-left: 100vh;
  border-radius: 5vh;
  background-color: blue;
  background-image: url("./Images/otis.webp");
  background-repeat: no-repeat;
  background-size: cover;
}
.carouselpro12 {
  color: rgb(0, 0, 0);
  position: absolute;
  margin-top: 120vh;
  font-size: 2vh;
  height: 30vh;
  width: 30vh;
  margin-left: 140vh;
  border-radius: 5vh;
  background-color: blue;
  background-image: url("./Images/fiona.png");
  background-repeat: no-repeat;
  background-size: cover;
}
.carouselpro13 {
  color: rgb(0, 0, 0);
  position: absolute;
  margin-top: 195vh;
  font-size: 2vh;
  height: 30vh;
  width: 30vh;
  margin-left: 20vh;
  border-radius: 5vh;
  background-color: blue;
  background-image: url("./Images/justin.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
}
.carouselpro14 {
  color: rgb(0, 0, 0);
  position: absolute;
  margin-top: 195vh;
  font-size: 2vh;
  height: 30vh;
  width: 30vh;
  margin-left: 60vh;
  border-radius: 5vh;
  background-color: blue;
  background-image: url("./Images/buddy.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
}
.carouselpro15 {
  color: rgb(0, 0, 0);
  position: absolute;
  margin-top: 195vh;
  font-size: 2vh;
  height: 30vh;
  width: 30vh;
  margin-left: 100vh;
  border-radius: 5vh;
  background-color: blue;
  background-image: url("./Images/johnny.webp");
  background-repeat: no-repeat;
  background-size: cover;
}
.carouselpro16 {
  color: rgb(0, 0, 0);
  position: absolute;
  margin-top: 195vh;
  font-size: 2vh;
  height: 30vh;
  width: 30vh;
  margin-left: 140vh;
  border-radius: 5vh;
  background-color: blue;
  background-image: url("./Images/suzy.png");
  background-repeat: no-repeat;
  background-size: cover;
}

.view-block9 {
  height: 3vh;
  width: 10vh;
  background-color: rgba(222, 209, 186, 0.429);
  border-radius: 5vh;
  border-style: none;
  margin-left: 18vh;
  margin-top: 45vh;
  position: absolute;
}
.view-block10 {
  height: 3vh;
  width: 10vh;
  background-color: rgba(222, 209, 186, 0.429);
  border-radius: 5vh;
  border-style: none;
  margin-left: 20vh;
  margin-top: 45vh;
  position: absolute;
}
.view-block11 {
  height: 3vh;
  width: 10vh;
  background-color: rgba(222, 209, 186, 0.429);
  border-radius: 5vh;
  border-style: none;
  margin-left: 20vh;
  margin-top: 45vh;
  position: absolute;
}
.view-block12 {
  height: 3vh;
  width: 10vh;
  background-color: rgba(222, 209, 186, 0.429);
  border-radius: 5vh;
  border-style: none;
  margin-left: 20vh;
  margin-top: 45vh;
  position: absolute;
}

.view-block13 {
  height: 3vh;
  width: 10vh;
  background-color: rgba(222, 209, 186, 0.429);
  border-radius: 5vh;
  border-style: none;
  margin-left: 18vh;
  margin-top: 45vh;
  position: absolute;
}
.view-block14 {
  height: 3vh;
  width: 10vh;
  background-color: rgba(222, 209, 186, 0.429);
  border-radius: 5vh;
  border-style: none;
  margin-left: 20vh;
  margin-top: 45vh;
  position: absolute;
}
.view-block15 {
  height: 3vh;
  width: 10vh;
  background-color: rgba(222, 209, 186, 0.429);
  border-radius: 5vh;
  border-style: none;
  margin-left: 20vh;
  margin-top: 45vh;
  position: absolute;
}
.view-block16 {
  height: 3vh;
  width: 10vh;
  background-color: rgba(222, 209, 186, 0.429);
  border-radius: 5vh;
  border-style: none;
  margin-left: 20vh;
  margin-top: 45vh;
  position: absolute;
}

/* price button */ 
.price-block9 {
  height: 3vh;
  width: 10vh;
  background-color: rgba(222, 209, 186, 0.429);
  border-radius: 5vh;
  border-style: none;
  margin-left: 18vh;
  margin-top: 37vh;
  position: absolute;
}
.price-block10 {
  height: 3vh;
  width: 10vh;
  background-color: rgba(222, 209, 186, 0.429);
  border-radius: 5vh;
  border-style: none;
  margin-left: 20vh;
  margin-top: 37vh;
  position: absolute;
}
.price-block11 {
  height: 3vh;
  width: 10vh;
  background-color: rgba(222, 209, 186, 0.429);
  border-radius: 5vh;
  border-style: none;
  margin-left: 20vh;
  margin-top: 37vh;
  position: absolute;
}
.price-block12 {
  height: 3vh;
  width: 10vh;
  background-color: rgba(222, 209, 186, 0.429);
  border-radius: 5vh;
  border-style: none;
  margin-left: 20vh;
  margin-top: 37vh;
  position: absolute;
}
.price-block13 {
  height: 3vh;
  width: 10vh;
  background-color: rgba(222, 209, 186, 0.429);
  border-radius: 5vh;
  border-style: none;
  margin-left: 18vh;
  margin-top: 37vh;
  position: absolute;
}
.price-block14 {
  height: 3vh;
  width: 10vh;
  background-color: rgba(222, 209, 186, 0.429);
  border-radius: 5vh;
  border-style: none;
  margin-left: 20vh;
  margin-top: 37vh;
  position: absolute;
}
.price-block15 {
  height: 3vh;
  width: 10vh;
  background-color: rgba(222, 209, 186, 0.429);
  border-radius: 5vh;
  border-style: none;
  margin-left: 20vh;
  margin-top: 37vh;
  position: absolute;
}
.price-block16 {
  height: 3vh;
  width: 10vh;
  background-color: rgba(222, 209, 186, 0.429);
  border-radius: 5vh;
  border-style: none;
  margin-left: 20vh;
  margin-top: 37vh;
  position: absolute;
}
/* end price button */ 

/* stock button */ 
.stock-block9 {
  height: 3vh;
  width: 10vh;
  background-color: rgba(222, 209, 186, 0.429);
  border-radius: 5vh;
  border-style: none;
  margin-left: 18vh;
  margin-top: 41vh;
  position: absolute;
}
.stock-block10 {
  height: 3vh;
  width: 10vh;
  background-color: rgba(222, 209, 186, 0.429);
  border-radius: 5vh;
  border-style: none;
  margin-left: 20vh;
  margin-top: 41vh;
  position: absolute;
}
.stock-block11 {
  height: 3vh;
  width: 10vh;
  background-color: rgba(222, 209, 186, 0.429);
  border-radius: 5vh;
  border-style: none;
  margin-left: 20vh;
  margin-top: 41vh;
  position: absolute;
}
.stock-block12 {
  height: 3vh;
  width: 10vh;
  background-color: rgba(222, 209, 186, 0.429);
  border-radius: 5vh;
  border-style: none;
  margin-left: 20vh;
  margin-top: 41vh;
  position: absolute;
}
.stock-block13 {
  height: 3vh;
  width: 10vh;
  background-color: rgba(222, 209, 186, 0.429);
  border-radius: 5vh;
  border-style: none;
  margin-left: 18vh;
  margin-top: 41vh;
  position: absolute;
}
.stock-block14 {
  height: 3vh;
  width: 10vh;
  background-color: rgba(222, 209, 186, 0.429);
  border-radius: 5vh;
  border-style: none;
  margin-left: 20vh;
  margin-top: 41vh;
  position: absolute;
}
.stock-block15 {
  height: 3vh;
  width: 10vh;
  background-color: rgba(222, 209, 186, 0.429);
  border-radius: 5vh;
  border-style: none;
  margin-left: 20vh;
  margin-top: 41vh;
  position: absolute;
}
.stock-block16 {
  height: 3vh;
  width: 10vh;
  background-color: rgba(222, 209, 186, 0.429);
  border-radius: 5vh;
  border-style: none;
  margin-left: 20vh;
  margin-top: 41vh;
  position: absolute;
}
/* end stock button */ 

/* description */
.carousel-pro-info9 {
  color: rgb(0, 0, 0);
  position: absolute;
  margin-top: 32vh;
  font-size: 2vh;
  height: 20vh;
  width: 30vh;
  border-radius: 3vh;
  background-color: rgb(253, 253, 253);
  text-align: center;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

}
.carousel-pro-info10 {
  color: rgb(0, 0, 0);
  position: absolute;
  margin-top: 32vh;
  font-size: 2vh;
  height: 20vh;
  width: 30vh;
  border-radius: 3vh;
  background-color: rgb(253, 253, 253);
  text-align: center;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

}
.carousel-pro-info11 {
  color: rgb(0, 0, 0);
  position: absolute;
  margin-top: 32vh;
  font-size: 2vh;
  height: 20vh;
  width: 30vh;
  border-radius: 3vh;
  background-color: rgb(253, 253, 253);
  text-align: center;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

}
.carousel-pro-info12 {
  color: rgb(0, 0, 0);
  position: absolute;
  margin-top: 32vh;
  font-size: 2vh;
  height: 20vh;
  width: 30vh;
  border-radius: 3vh;
  background-color: rgb(253, 253, 253);
  text-align: center;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

}
.carousel-pro-info13 {
  color: rgb(0, 0, 0);
  position: absolute;
  margin-top: 32vh;
  font-size: 2vh;
  height: 20vh;
  width: 30vh;
  border-radius: 3vh;
  background-color: rgb(253, 253, 253);
  text-align: center;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

}
.carousel-pro-info14 {
  color: rgb(0, 0, 0);
  position: absolute;
  margin-top: 32vh;
  font-size: 2vh;
  height: 20vh;
  width: 30vh;
  border-radius: 3vh;
  background-color: rgb(253, 253, 253);
  text-align: center;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

}
.carousel-pro-info15 {
  color: rgb(0, 0, 0);
  position: absolute;
  margin-top: 32vh;
  font-size: 2vh;
  height: 20vh;
  width: 30vh;
  border-radius: 3vh;
  background-color: rgb(253, 253, 253);
  text-align: center;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

}
.carousel-pro-info16 {
  color: rgb(0, 0, 0);
  position: absolute;
  margin-top: 32vh;
  font-size: 2vh;
  height: 20vh;
  width: 30vh;
  border-radius: 3vh;
  background-color: rgb(253, 253, 253);
  text-align: center;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

}
/* end description */ 



.home-footer {
  height: 5vh;
  width: 100%;
  background-color: rgb(129, 102, 102);
  position: absolute;
  margin-top: 250vh;
}




