html, p, body {
    margin: 0;
    padding: 0; 
    background-color: rgb(255, 255, 255);
  }

.welcome-image {
    height: 50vh;
    width: 50%;
    margin-top: 10vh;
    margin-left: 25%;
    background-image: url("./Images/logindog.jpeg");
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
}

.img1 {
    height: 30vh;
    width: 30vh;
    background-color: rgb(246, 204, 204);
    margin-top: 65vh;
    margin-left: 45vh;
    position: absolute;
}

.img2 {
    height: 30vh;
    width: 30vh;
    background-color: rgb(246, 204, 204);
    margin-top: 65vh;
    margin-left: 83vh;
    position: absolute;
}

.img3 {
    height: 30vh;
    width: 30vh;
    background-color: rgb(246, 204, 204);
    margin-top: 65vh;
    margin-left: 120vh;
    position: absolute;
}

.product-des {
    height: 60vh;
    width: 58vh;
    background-color: rgb(240, 219, 219);
    position: absolute;
    margin-top: 100vh;
    margin-left: 45vh;
}

.size-chart {
    height: 25vh;
    width: 40vh;
    background-color: rgb(250, 238, 238);
    position: absolute;
    margin-top: 100vh;
    margin-left: 110vh;
}

.fabric-drop {
    height: 3vh;
    width: 15vh;
    background-color: rgb(255, 253, 253);
    position: absolute;
    margin-top: 10.5vh;
    margin-left: 1vh;
}

.colour-drop {
    height: 3vh;
    width: 15vh;
    background-color: rgb(255, 253, 253);
    position: absolute;
    margin-top: 20vh;
    margin-left: 1vh;
}
.quantity-drop {
    height: 3vh;
    width: 15vh;
    background-color: rgb(255, 253, 253);
    position: absolute;
    margin-top: 29vh;
    margin-left: 1vh;
}
.addcart-button {
    height: 3vh;
    width: 15vh;
    background-color: rgb(255, 253, 253);
    position: absolute;
    margin-top: 40vh;
    margin-left: 1vh;
}
.buy-button {
    height: 3vh;
    
    width: 15vh;
    background-color: rgb(255, 253, 253);
    position: absolute;
    margin-top: 45vh;
    margin-left: 1vh;
}


.size-drop {
    height: 3vh;
    width: 15vh;
    background-color: rgb(255, 253, 253);
    position: absolute;
    margin-top: 1.5vh;
    margin-left: 1vh;
}
p5 {
    margin-top: 7vh;
    position: absolute;
}
p6 {
    margin-top: 16vh;
    position: absolute;
}
p7 {
    margin-top: 25vh;
    position: absolute;
}


.size-chart {
    background-image: url("./Images/sizingChart.webp");
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;

}

/* .carousel__item {
    height: 300px;
    width: 300px;
    background-color: grey;
    padding: 1em;
    margin-left: 20px;
    display: none;
}

.carousel__item--selected {
    display: block;
}

.carousel__nav {
    height: 20px;
    width: 300px;
    background-color: rgb(183, 77, 77);
    padding: 1em;
    margin-left: 20px;
    position: absolute;
}

.carousel__button {
    height: 10px;
    width: 10px;
    background-color: rgb(252, 255, 86);
    display: inline-block;
    border-radius: 5vh;
    margin: 0 2vh;
}

.carousel__button--selected {
    height: 10px;
    width: 10px;
    background-color: rgb(252, 255, 86, 0.5);
    display: inline-block;
    border-radius: 5vh;
    margin: 0 2vh;
    cursor: pointer;
} */